In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [ ]:
train=pd.read_csv('option_train.csv')

In [ ]:
train.head()

   Unnamed: 0    Value        S     K       tau       r     BS
0           1  348.500  1394.46  1050  0.128767  0.0116  Under
1           2  149.375  1432.25  1400  0.679452  0.0113  Under
2           3  294.500  1478.90  1225  0.443836  0.0112  Under
3           4    3.375  1369.89  1500  0.117808  0.0119   Over
4           5   84.000  1366.42  1350  0.298630  0.0119  Under

In [ ]:
len(train)

5000

In [ ]:
train.dropna(inplace=True)

In [ ]:
len(train)

5000

In [ ]:
train.drop_duplicates(inplace=True)

In [ ]:
len(train)

5000

In [ ]:
test=pd.read_csv('option_test_nolabel.csv')

In [ ]:
test.head()

   Unnamed: 0        S     K       tau       r
0           1  1409.28  1325  0.126027  0.0115
1           2  1505.97  1100  0.315068  0.0110
2           3  1409.57  1450  0.197260  0.0116
3           4  1407.81  1250  0.101370  0.0116
4           5  1494.50  1300  0.194521  0.0110

In [ ]:
train.describe()

,Unnamed: 0,Value,S,K,tau,r
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,140.316869,1426.643916,1370.244000,0.327615,0.011468
std,1443.520003,125.155000,56.051523,172.679107,0.231184,0.000448
min,1.000000,0.281250,1264.740000,750.000000,0.084932,0.010600
25%,1250.750000,45.750000,1387.670000,1275.000000,0.142466,0.011100
50%,2500.500000,105.125000,1434.320000,1400.000000,0.238356,0.011400
75%,3750.250000,200.406250,1469.440000,1475.000000,0.463014,0.011700
max,5000.000000,685.500000,1527.460000,1995.000000,0.989041,0.012900

In [ ]:
test.describe()

       Unnamed: 0            S            K         tau           r
count  500.000000   500.000000   500.000000  500.000000  500.000000
mean   250.500000  1425.534580  1360.390000    0.316022    0.011476
std    144.481833    55.269994   167.710021    0.221916    0.000445
min      1.000000  1264.740000   850.000000    0.084932    0.010600
25%    125.750000  1386.170000  1250.000000    0.141781    0.011100
50%    250.500000  1432.220000  1375.000000    0.235616    0.011400
75%    375.250000  1467.285000  1470.000000    0.437671    0.011800
max    500.000000  1527.460000  1995.000000    0.986301    0.012900

# Regression

In [ ]:
#training the model with 80% data set and then testing with 20% train data to check accuracy
#Linear Regression
X = train[['S', 'K', 'tau','r']]
y = train['Value']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
linear = LinearRegression()
linear.fit(X_train, y_train)
y_pred = linear.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)
print("mse", mse)
print("mae", mae)
print("r2", r_squared)

mse 1138.3652085124734
mae 23.72104832840156
r2 0.9303135237337722

In [ ]:
#decision tree

dt = DecisionTreeRegressor(random_state=10)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)
print("mse", mse)
print("mae", mae)
print("r2", r_squared)

mse 110.535662109375
mae 6.2855
r2 0.9932334186458297

In [ ]:
#random forest regression

rf = RandomForestRegressor(n_estimators=100, random_state=10)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)
print("mse", mse)
print("mae", mae)
print("r2", r_squared)

mse 51.920418496875016
mae 4.883799999999999
r2 0.9968216254465094

In [ ]:
import xgboost as xgb


xg_reg = xgb.XGBRegressor(objective ='reg:squarederror',random_state=10)

xg_reg.fit(X_train,y_train)


y_pred = xg_reg.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)


print("mse", mse)
print("mae", mae)
print("r2", r_squared)

mse 45.73165510589569
mae 4.64485252700001
r2 0.9972004784806129

In [ ]:
X_test2 = test[['S', 'K', 'tau','r']]

In [ ]:
linear_pred = linear.predict(X_test2)
linear_df = pd.DataFrame({'Predicted_Value': linear_pred})
linear_df.head()

   Predicted_Value
0       129.099908
1       367.296192
2        56.775292
3       174.693947
4       208.393218

In [ ]:
dt_pred = dt.predict(X_test2)
dt_df = pd.DataFrame({'Predicted_Value': dt_pred})
dt_df.head()

   Predicted_Value
0          117.375
1          422.750
2           37.500
3          185.000
4          246.750

In [ ]:
rf_pred = rf.predict(X_test2)
rf_df = pd.DataFrame({'Predicted_Value': rf_pred})
rf_df.head()

   Predicted_Value
0        111.92125
1        427.12625
2         37.77625
3        182.86625
4        219.43375

In [ ]:
xg_pred = xg_reg.predict(X_test2)
xg_df = pd.DataFrame({'Predicted_Value': xg_pred})
xg_df.head()

   Predicted_Value
0       106.563858
1       429.089966
2        55.203102
3       186.389603
4       215.617935

In [ ]:
#Using whole training data to train the model

X_train_final = train[['S', 'K', 'tau','r']]
y_train_final = train['Value']
xg = xgb.XGBRegressor(objective ='reg:squarederror',random_state=10)
xg.fit(X_train_final, y_train_final)
X_test_final = test[['S', 'K', 'tau','r']]
y_pred_final_reg = xg.predict(X_test_final)

In [ ]:
final_df = pd.DataFrame({'Value':y_pred_final_reg })
final_df.head()

        Value
0  100.284683
1  433.265778
2   49.626385
3  179.687683
4  223.744568

# Classification

In [ ]:
#basic logistic regression

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

X = train[['Value', 'S', 'K', 'tau','r']]
y = train['BS']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_lr = accuracy_score(y_test, lr_pred)
print("Accuracy:", accuracy_lr)
classification_er_lr=1-accuracy_lr
print("classification error rate:",classification_er_lr)

Accuracy: 0.926
classification error rate: 0.07399999999999995

In [ ]:
#decision tree

from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
dt_pred = dt_model.predict(X_test)

print("class report")
print(classification_report(y_test, dt_pred))
accuracy_dt = accuracy_score(y_test, dt_pred)
print("accuracy", accuracy_dt)
classification_er_dt=1-accuracy_dt
print("classification error rate:",classification_er_dt)

class report
              precision    recall  f1-score   support

        Over       0.87      0.86      0.86       226
       Under       0.96      0.96      0.96       774

    accuracy                           0.94      1000
   macro avg       0.91      0.91      0.91      1000
weighted avg       0.94      0.94      0.94      1000

accuracy 0.939
classification error rate: 0.061000000000000054

In [ ]:
#random forest
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
print("class report")
print(classification_report(y_test, rf_pred))
accuracy_rf = accuracy_score(y_test, rf_pred)
print("accuracy", accuracy_rf)
classification_er_rf=1-accuracy_rf
print("classification error rate:",classification_er_rf)

class report
              precision    recall  f1-score   support

        Over       0.91      0.89      0.90       226
       Under       0.97      0.97      0.97       774

    accuracy                           0.95      1000
   macro avg       0.94      0.93      0.94      1000
weighted avg       0.95      0.95      0.95      1000

accuracy 0.955
classification error rate: 0.04500000000000004

In [ ]:
#Using whole training data to train the model

X_train_final = train[['S', 'K', 'tau','r']]
y_train_final = train['BS']
rf1 = RandomForestClassifier()
rf1.fit(X_train_final, y_train_final)
X_test_final = test[['S', 'K', 'tau','r']]
y_pred_final_class = rf1.predict(X_test_final)
final_df['BS'] = y_pred_final_class

In [ ]:
final_df.head(20)

         Value     BS
0   100.284683  Under
1   433.265778  Under
2    49.626385  Under
3   179.687683  Under
4   223.744568  Under
5   270.919159  Under
6    37.683331   Over
7   251.707886  Under
8   286.032898  Under
9   109.398949  Under
10   75.846855  Under
11  132.555634  Under
12    6.374206   Over
13   82.681015  Under
14  200.922272  Under
15   22.390759   Over
16   32.567314   Over
17   50.577030  Under
18   40.183777  Under
19   77.377426  Under

In [ ]:
final_df['BS'] = final_df['BS'].map({'Over': 1, 'Under': 0})

In [ ]:
final_df.head(20)

         Value  BS
0   100.284683   0
1   433.265778   0
2    49.626385   0
3   179.687683   0
4   223.744568   0
5   270.919159   0
6    37.683331   1
7   251.707886   0
8   286.032898   0
9   109.398949   0
10   75.846855   0
11  132.555634   0
12    6.374206   1
13   82.681015   0
14  200.922272   0
15   22.390759   1
16   32.567314   1
17   50.577030   0
18   40.183777   0
19   77.377426   0

In [ ]:
final_df.to_csv('group_44_prediction.csv', index=False)